<div class=" container  mainpic ">
	<div class="row">	
			<!-- remove height and width to show only  the image and fit in the main page without scroll-->
	<video height="5%" width="5%" autoplay loop muted class="img-circle col-md-12 "> 
  <source src="https://res.cloudinary.com/dwrltsmzw/video/upload/v1557389407/%CE%9A%CE%91%CE%A4%CE%A9%CE%9A%CE%9F%CE%A0%CE%99%CE%91_1969_-1974_03_24_-_03_27.5_rCdGiDTmnM0.mp4" type="video/mp4">
  
</video>

</div>
</div>

<div class=" container ">
	<div class="row">
		<div class="col-md-3  thumbnail ">
			<p>Accouncements</p>
			<img class="img-circle  img-circle" src="https://res.cloudinary.com/dwrltsmzw/image/upload/c_scale,w_10/v1549203518/samples/cloudinary-logo-vector.svg">
		</div>
		<div class="col-md-3 img-circle thumbnail">
			<p>DOXA FC</p>
			<img class="img-circle  img-circle " src="https://res.cloudinary.com/dwrltsmzw/image/upload/c_scale,w_10/v1549203518/samples/cloudinary-logo-vector.svg">
		</div>
		<div class="col-md-3 thumbnail">
			<p>PhotoRetro</p>
			<img class="img-circle  img-circle " src="https://res.cloudinary.com/dwrltsmzw/image/upload/c_scale,w_10/v1549203518/samples/cloudinary-logo-vector.svg">
		</div>
		<div class="col-md-3 thumbnail">
			<p>History Articles</p>
			<img class="img-circle  img-circle " src="" id="HistoryArticlesIndex">
			<%= link_to articles_path, id:"HistoryArticlesIndex" do %>
   			<%= image_tag "https://res.cloudinary.com/dwrltsmzw/image/upload/v1555706972/WEP-EKLHSIA-OLD.jpg" %>
			<% end %>
		</div>
	</div>
</div>


