<div class=" container  mainpic ">
	<div class="row">	
	<img class="col-md-12 img-circle" src="https://res.cloudinary.com/dwrltsmzw/image/upload/v1551369896/201702102330272853.jpg">
</div>
</div>

<div class=" container ">
	<div class="row">
		<div class="col-md-3  thumbnail ">
			<p>Accouncements</p>
			<img class="img-circle  img-circle" src="https://res.cloudinary.com/dwrltsmzw/image/upload/c_scale,w_10/v1549203518/samples/cloudinary-logo-vector.svg">
		</div>
		<div class="col-md-3 img-circle thumbnail">
			<p>DOXA FC</p>
			<img class="img-circle  img-circle " src="https://res.cloudinary.com/dwrltsmzw/image/upload/c_scale,w_10/v1549203518/samples/cloudinary-logo-vector.svg">
		</div>
		<div class="col-md-3 thumbnail">
			<p>PhotoRetro</p>
			<img class="img-circle  img-circle " src="https://res.cloudinary.com/dwrltsmzw/image/upload/c_scale,w_10/v1549203518/samples/cloudinary-logo-vector.svg">
		</div>
		<div class="col-md-3 thumbnail">
			<p>History Articles</p>
			<img class="img-circle  img-circle " src="">
			<%= link_to articles_path do %>
   			<%= image_tag "https://res.cloudinary.com/dwrltsmzw/image/upload/c_scale,w_10/v1549203518/samples/cloudinary-logo-vector.svg", class: "some css class here" %>
			<% end %>
		</div>
	</div>
</div>


