<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
<hi>About the Page</hi>
<h2 >Author Manifest </h2>
<p>The page created by Charalambos Pouroutides , the son and of Nicos Pouroutides as known as Pouroutos.
The Main purpose of this site is to present the memories of our comunity and transfer the message of "I never forget and keep fight" alive in the digital  era.</p>
<p> The structure of the page is :
	1) History Articles : Nicos Pouroutides writes about the stories of the community. Any story related with our community is welcome and should be emailed to Nicos Pouroutides (Pouroutos) for publishing . The site has not liability for any incosistency or any damages might occured caused by their pusblished articles.
	2) Announcements : In this section anouncement regarding events relevant to our community and Nicos Pouroutos should emailed about this.
	</p> 
